<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom/table.css">

    <title>Home</title>
</head>

<body>

    <div class="container-fluid" id="main-container">
        <h1 class="text-center">Welcome to the Home Page</h1>


        <div class="mx-5 my-5">

            {{#if (verifyArrayLength tablePeriodic)}}

                {{#each tablePeriodic as |elementos|}}

                {{#if (compare elementos.symbol)}}
                <div class="columnas {{elementos.group}}"><span>{{elementos.symbol}}</span></div>



                {{#if (espaciosGeneratorH elementos.symbol)}}

                {{#each ../array16}}
                <div class="espacio-vacio"><span>&nbsp;</span></div>

                {{/each}}
                {{/if}}

                {{#if (espaciosGeneratorBeandMg elementos.symbol)}}

                {{#each ../array10}}
                <div class="espacio-vacio"><span>&nbsp;</span></div>

                {{/each}}
                {{/if}}


                {{#if (espaciosGeneratorOg elementos.symbol)}}
                <div class="mt-5"></div>

                {{#each ../array3}}
                <div class="espacio-vacio"><span>&nbsp;</span></div>
                {{/each}}
                {{/if}}


                {{#if (espaciosGeneratorLu elementos.symbol)}}
                {{#each ../array3}}
                <div class="espacio-vacio"><span>&nbsp;</span></div>
                {{/each}}
                {{/if}}

                {{/if}}
                {{/each}}


            {{else}}


            {{/if}}
            



        </div>


        <div class="mx-5 my-5">
            <table class="table table-bordered">

                <tbody>

                    <tr>
                        <th colspan="5" scope="col" class="text-center metales">Metales</th>
                        <th rowspan="3" scope="col" class="text-center metaloides">Metaloides</th>
                        <th colspan="3" scope="col" class="text-center no-metales">No Metales</th>
                    </tr>

                    <tr>

                        <td rowspan="3" class="text-center py-4 alcalinos">Alcalinos</td>
                        <td rowspan="3" class="text-center py-4 alcalinoterreos">Alcalinot&eacute;rreos</td>
                        <td rowspan="3" class="text-center py-4 metales-transicion">Metales de Transici&oacute;n /
                            Bloque D</td>
                        <td class="lantanidos">Lant&aacute;nidos</td>
                        <td rowspan="3" class="text-center py-4 otros-metales">Otros Metales</td>

                        <td rowspan="3" class="text-center py-4 otros-no-metales">Otros No Metales</td>
                        <td rowspan="3" class="text-center py-4 halogenos">Hal&oacute;genos</td>
                        <td rowspan="3" class="text-center py-4 gases-nobles">Gases Nobles</td>
                    </tr>



                    <tr>
                        <td class="actinidos">Act&iacute;nidos</td>

                    </tr>



                </tbody>

            </table>
        </div>
    </div>
</body>
<script src="/assets/css/vendors/bootstrap/bootstrap.min.css"></script>

</html>